In [1]:
import pandas as pd

In [6]:
flag = "Flag_Reference.xls"
df = pd.read_excel(flag)

In [7]:
df.head()

   ID                                        DESCRIPTION
0   3  Data not enumerated, tabulated, or otherwise a...
1   4  Figure withheld to avoid disclosure pertaining...
2   5  Figure not applicable because column heading a...
3   6  Figure does not meet publication standards for...
4   7  Entry would amount to less than half the unit ...